/* CSS untuk gambar postingan */
.post-image-container {
    text-align: center;
    margin: 20px 0;
}

.post-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Gambar profil di navbar */
.navbar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


/* Gambar profil */
.profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* Placeholder jika foto profil tidak ada */
.profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

